exportPattern("MRPC")
exportPattern("SimulatedData")
exportPattern("Case_NP")
exportPattern("Case_1P")
exportPattern("Case_2P")
exportPattern("Case_3P")
exportPattern("RobustCor")
exportPattern("mpinv")
exportPattern("SeqFDR")
exportPattern("ModiSkeleton")
exportPattern("empty")
exportPattern("EdgeOrientation")
exportPattern("DendroModuleGraph")
exportPattern("Cut_Modules")
exportPattern("aSHD")
importFrom("stats","dist","approx","as.dist","cor", "rbinom", "rnorm", "sd","as.hclust","na.omit","median","quantile","cov","cov2cor")
importFrom("graphics", "plot")
importFrom("pcalg","gaussCItest","pc.cons.intern","udag2pdag","udag2pdagSpecial","udag2pdagRelaxed","getNextSet","wgtMatrix")
importFrom("utils", "combn")
importFrom("utils", "write.table")
importFrom("bnlearn", "ci.test")
#importFrom("fastcluster","fastcluster::hclust")
importFrom("WGCNA","TOMsimilarity","labels2colors","plotDendroAndColors")
importFrom("Hmisc","label<-")
importFrom("dynamicTreeCut","cutreeDynamic")
importFrom("GGally","ggnet2")
importFrom("network","network","%v%<-","%v%")
importFrom("mice","mice","complete")
importFrom("mice","mice.impute.pmm")
import(BiocGenerics)
import(Rgraphviz)
import(fastcluster)
import(methods)
