export(aSHD)
export(Case_NP)
export(Case_1P)
export(Case_2P)
export(Case_3P)
export(Cut_Modules)
export(DendroModuleGraph)
export(EdgeOrientation)
export(empty)
export(InferenceAccuracyExample)
export(ModiSkeleton)
export(mpinv)
export(MRPC)
export(Recall_Precision)
export(RobustCor)
export(SimulatedData)
export(SimulationDemo)
export(SeqFDR)
export(seqDiff)

importMethodsFrom("graph",
		  ## addEdge,
		  coerce,# as(., ...)
		  edges, edgeData,
		  edgeDataDefaults, "edgeDataDefaults<-",
		  isDirected,
		  nodes, "nodes<-",
		  numNodes, numEdges,
		  subGraph, ugraph)

importFrom("bnlearn","ci.test","graphviz.plot","mmhc")
importFrom("compositions", "unbinary")
importFrom("dynamicTreeCut","cutreeDynamic")
importFrom("fastcluster","hclust")
importFrom("GGally","ggnet2")
importFrom("gtools","permute")
importFrom("graphics", "par","plot.default","title")
importFrom("Hmisc","label<-")
#importFrom("methods", "as", "is", "new")
importFrom("methods",show,setClass, setClassUnion, setMethod, setOldClass, setValidity,
        getClass, getClassDef, callGeneric, as, is, extends,
	   new, validObject,signature, representation, prototype)
importFrom("mice","mice","complete","mice.impute.pmm")
importFrom("network","network","%v%<-","%v%")
importFrom("pcalg","disCItest","gaussCItest","pc","pc.cons.intern","udag2pdag","udag2pdagSpecial","udag2pdagRelaxed","getNextSet","wgtMatrix")
#importFrom("Rgraphviz","plot")
importFrom("stats","sd","dist","approx","as.dist","cor", "rbinom", "rnorm","as.hclust","na.omit","median","quantile","cov","cov2cor","qnorm")
importFrom("utils", "combn","write.table")
importFrom("WGCNA","TOMsimilarity","labels2colors","plotDendroAndColors")

exportClasses("MRPCclass")
exportMethods("summary", "show", "plot")
S3method(print, MRPCclass)

